/* import font */
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

html {
    height: 100%;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

body {
    height: 100%;
    background-color: #fff372; 
}

.logo {
    margin-top: 5%;
    font-size: 15px;
    text-align: center;
}

.logo img {
    width: 60%;
    float: center;
}

.desc {
    font-family: "Chivo Mono", monospace;
    background-color: #fdfeab;
    border: 5px double #000;
    border-radius: 15px;
    padding: 20px;
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 3%;
    font-size: 13px;
    text-align: left;
}

.text h2{
    font-family: "Chivo Mono", monospace;
    font-size: 20px;
    text-align: center;
}

.text {
    font-family: "Noto Serif", serif;
    margin-left: 2%;
    font-size: 11px;
    text-align: left;
}


.boxtextA {
    width: 45%;
    padding: 10px;
    background-color: #ffffff;
    border-right: 1px solid #000;
    box-sizing: border-box;
    height: 710px;
    overflow-y: scroll;
}
.boxtext {
    width: 45%;
    padding: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
    height: 710px;
    overflow-y: scroll;
}

/* contenitore Navbar */
.navbar {
    overflow: hidden;
    background-color: #333;
    margin: 0;
    font-family: "Chivo Mono", monospace;
}

/* Links dentro la navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: #fff372;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* parola codifica di testi in nero */
.navbar a.nameproject {
    background-color: #000000;
}

/* contenitore del dropdown */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff372;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(0, 0, 0);
}

/* Dropdown content (nascosto di default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff8b1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links dentro il dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* background grigio quando sei hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Scroll bar */

/* larghezza */
::-webkit-scrollbar {
    width: 10px;
}

/* Barra base */
::-webkit-scrollbar-track {
    background: #fff372;
}

/* Barra di scorrimento */
::-webkit-scrollbar-thumb {
    background: #998931;
}

/* Colore barra se usata */
::-webkit-scrollbar-thumb:hover {
    background: #414b15;
}

/* Footer e About */

footer {
    text-align: left;
    font-family: "Chivo Mono", monospace;
    padding: 50px;
    background-color: #000000;
    color: #fff372;
    margin-left: -8px;
    margin-right: -8px;
}

#about h2 {
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 18px;
    text-align: left;
}

#about h1 {
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 20px;
    text-align: center;
}

#about p {
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 12px;
    text-align: left;
}

.container {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 45%;
    box-sizing: border-box;
}


/* FENOMENI */

#fenomeni {
    text-align: center;
    background-color:#333;
    margin: 4%;
    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 15px;
}

.bottoni_fenomeni {
    list-style-type: none;
    padding: 0;
}

.bottoni_fenomeni button {
    font-family: "Chivo Mono", monospace;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

#persone {
    background-color: #fceb33; 
}

.highlight_p {
    background-color: #fceb33; 
}

#epithet {
    background-color: #5eb786;
}

.highlight_ep{
    background-color:  #5eb786; 
}

#luoghi {
    background-color: #fe8cd0; 
}

.highlight_l {
    background-color: #fe8cd0; 
}

#date {
    background-color: #38ff38; 
}

.highlight_d{
    background-color: #38ff38;
}

#organizzazioni {
    background-color:  #ff2a2a;
}

.highlight_o{
    background-color: #ff2a2a; 
}

#citazioni {
    background-color: #ff982a;
}

.highlight_c{
    background-color:  #ff982a;
}

#opere {
    background-color: #94941d;
}

.highlight_op{
    background-color:  #94941d;
}

#casaeditrice {
    background-color:  #a3a1a2;
}

.highlight_ce{
    background-color: #a3a1a2;
}

#correntiletterarie {
    background-color:  #57fff7;
}

.highlight_cl{
    background-color: #57fff7;
}

#verbum {
    background-color: #842323;
}

.highlight_vr{
    background-color:  #842323;
}

#foreign {
    background-color: #2e2384;
}

.highlight_f{
    background-color:  #2e2384;
}

.bottoni_fenomeni button:hover {
    opacity: 0.8;
}

.corretto {
    display: inline-block;
}

.nascosto {
    display: none; 
}